body{
    background-image: url(back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
.Cyber{
    position: relative;
}
.Gun{
    left: 250px;
    position: absolute;
    bottom: 0%;
}